<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Movimientos IoT</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Control de Movimientos IoT</h1>
    
    <div class="control-container">
        <div class="movement-box">
            <h3>Movimiento</h3>
            <button class="btn-move" id="up">Arriba</button>
            <button class="btn-move" id="left">Izquierda</button>
            <button class="btn-move" id="stop">STOP</button>
            <button class="btn-move" id="right">Derecha</button>
            <button class="btn-move" id="down">Abajo</button>
        </div>
        
        <div class="rotation-box">
            <h3>Rotación</h3>
            <button class="btn-move" id="rotate-90-left">Girar 90° Izquierda</button>
            <button class="btn-move" id="rotate-90-right">Girar 90° Derecha</button>
            <button class="btn-move" id="rotate-180">Girar 180°</button>
            <button class="btn-move" id="rotate-360">Girar 360°</button>
        </div>
    </div>
    
    <div class="monitor-container">
        <h3>Último Movimiento</h3>
        <button id="refresh" class="btn-refresh">Actualizar Historial</button>
        <a href="{{ url_for('monitor') }}"><button id="monitor" class="btn-monitor">Ir a Página de Monitoreo</button></a>
        <table id="tabla-historial">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>IP</th>
                    <th>Dispositivo</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <!-- Un único registro dinámico irá aquí -->
            </tbody>
        </table>
    </div>

    <script type="module" src="static/js/script.js"></script>
    <script type="module" src="static/css/styles.css"></script>
</body>
</html>
